---
layout: default
---

<div class="px-4 sm:px-6 md:px-8">
    <div class="max-w-8xl mx-auto">
        <div class="flex px-4 pt-8 pb-10 lg:px-8">
            <a class="group flex font-semibold text-sm leading-6 text-primary-focus-700 hover:text-primary-focus-900 dark:text-primary-focus-200 dark:hover:text-white" href="/blog">
                <svg viewBox="0 -9 3 24" class="overflow-visible mr-3 text-primary-focus-400 w-auto h-6 group-hover:text-primary-focus-600 dark:group-hover:text-primary-focus-300">
                    <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Go back
            </a>
        </div>
    </div>
    <div class="px-4 sm:px-6 md:px-8">
        <div class="max-w-3xl mx-auto pb-28">
            <main class="shadow-lg p-5 border radius">
                <article class="relative pt-10">
                    <h1 class="text-2xl font-extrabold tracking-tight text-primary-focus-900 dark:text-primary-focus-200 md:text-3xl">{{ page.title }}</h1>
                    <div class="text-sm leading-6">
                        <dl>
                            <dt class="sr-only">Date</dt>
                            <dd class="absolute top-0 inset-x-0 text-primary-focus-700 dark:text-primary-focus-400"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></dd>
                        </dl>
                    </div>
<div class="mt-12 max-w-3xl prose prose-slate dark:prose-invert">
	{% include content.liquid content=content %}
</div>
</article>
            </main>
        </div>
    </div>
</div>
